<a href="https://colab.research.google.com/github/riskyandrean104/DQLAB-Course/blob/main/Project_Machine_Learning_with_Python_Building_Recommender_System_with_Similarity_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
name_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/actor_name.csv')

movie_rating_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/movie_rating_df.csv')

director_writers = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/directors_writers.csv')

In [ ]:
name_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nconst             1000 non-null   object
 1   primaryName        1000 non-null   object
 2   birthYear          1000 non-null   object
 3   deathYear          1000 non-null   object
 4   primaryProfession  891 non-null    object
 5   knownForTitles     1000 non-null   object
dtypes: object(6)
memory usage: 47.0+ KB

In [ ]:
name_df.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm1774132,Nathan McLaughlin,1973,\N,"special_effects,make_up_department","tt0417686,tt1713976,tt1891860,tt0454839"
1,nm10683464,Bridge Andrew,\N,\N,actor,tt7718088
2,nm1021485,Brandon Fransvaag,\N,\N,miscellaneous,tt0168790
3,nm6940929,Erwin van der Lely,\N,\N,miscellaneous,tt4232168
4,nm5764974,Svetlana Shypitsyna,\N,\N,actress,tt3014168

In [ ]:
name_df = name_df[['nconst','primaryName','knownForTitles']]

#Melakukan pengecekan variasi
print(name_df['knownForTitles'].apply(lambda x: len(x.split(','))).unique())

#Mengubah knownForTitles menjadi list of list
name_df['knownForTitles'] = name_df['knownForTitles'].apply(lambda x: x.split(','))

#Mencetak 5 baris teratas
print(name_df.head())

[4 1 2 3]
       nconst          primaryName  \
0   nm1774132    Nathan McLaughlin
1  nm10683464        Bridge Andrew
2   nm1021485    Brandon Fransvaag
3   nm6940929   Erwin van der Lely
4   nm5764974  Svetlana Shypitsyna

                                 knownForTitles
0  [tt0417686, tt1713976, tt1891860, tt0454839]
1                                   [tt7718088]
2                                   [tt0168790]
3                                   [tt4232168]
4                                   [tt3014168]

<ipython-input-5-7b5fd2ec6f6e>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name_df['knownForTitles'] = name_df['knownForTitles'].apply(lambda x: x.split(','))

In [ ]:
#menyiapkan bucket untuk dataframe
df_uni = []

for x in ['knownForTitles']:
    #mengulang index dari tiap baris sampai tiap elemen dari knownForTitles
    idx = name_df.index.repeat(name_df['knownForTitles'].str.len())

   #memecah values dari list di setiap baris dan menggabungkan nya dengan rows lain menjadi dataframe
    df1 = pd.DataFrame({
        x: np.concatenate(name_df[x].values)
    })

    #mengganti index dataframe tersebut dengan idx yang sudah kita define di awal
    df1.index = idx
    #untuk setiap dataframe yang terbentuk, kita append ke dataframe bucket
    df_uni.append(df1)

#menggabungkan semua dataframe menjadi satu
df_concat = pd.concat(df_uni, axis=1)

#left join dengan value dari dataframe yang awal
unnested_df = df_concat.join(name_df.drop(['knownForTitles'], 1), how="left")

#select kolom sesuai dengan dataframe awal
unnested_df = unnested_df[name_df.columns.tolist()]
print(unnested_df)

         nconst        primaryName knownForTitles
0     nm1774132  Nathan McLaughlin      tt0417686
0     nm1774132  Nathan McLaughlin      tt1713976
0     nm1774132  Nathan McLaughlin      tt1891860
0     nm1774132  Nathan McLaughlin      tt0454839
1    nm10683464      Bridge Andrew      tt7718088
..          ...                ...            ...
998   nm5245804      Eliza Jenkins      tt1464058
999   nm0948460         Greg Yolen      tt0436869
999   nm0948460         Greg Yolen      tt0476663
999   nm0948460         Greg Yolen      tt0109723
999   nm0948460         Greg Yolen      tt0364484

[1918 rows x 3 columns]

<ipython-input-6-f6fd27a5c724>:22: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  unnested_df = df_concat.join(name_df.drop(['knownForTitles'], 1), how="left")

In [ ]:
#menyiapkan bucket untuk dataframe
df_uni = []

for col in ['primaryName']:
    #agregasi kolom PrimaryName sesuai group_col yang sudah di define di atas
    dfi = unnested_df.groupby(['knownForTitles'])[col].apply(list)
    #Lakukan append
    df_uni.append(dfi)
df_grouped = pd.concat(df_uni, axis=1).reset_index()
df_grouped.columns = ['knownForTitles','cast_name']
print(df_grouped)

     knownForTitles           cast_name
0         tt0008125    [Charles Harley]
1         tt0009706    [Charles Harley]
2         tt0010304  [Natalie Talmadge]
3         tt0011414  [Natalie Talmadge]
4         tt0011890  [Natalie Talmadge]
...             ...                 ...
1893      tt9610496  [Stefano Baffetti]
1894      tt9714030        [Kevin Kain]
1895      tt9741820   [Caroline Plyler]
1896      tt9759814     [Ethan Francis]
1897      tt9856236     [Nuala Maguire]

[1898 rows x 2 columns]

In [ ]:
#join antara movie table dan cast table
base_df = pd.merge(df_grouped, movie_rating_df, left_on='knownForTitles', right_on='tconst', how='left')

#join antara base_df dengan director_writer table
base_df = pd.merge(base_df, director_writers, left_on='tconst', right_on='tconst', how='inner')
print(base_df.head())

  knownForTitles           cast_name     tconst titleType  \
0      tt0011414  [Natalie Talmadge]  tt0011414     movie
1      tt0011890  [Natalie Talmadge]  tt0011890     movie
2      tt0014341  [Natalie Talmadge]  tt0014341     movie
3      tt0018054     [Reeka Roberts]  tt0018054     movie
4      tt0024151     [James Hackett]  tt0024151     movie

             primaryTitle           originalTitle  isAdult  startYear  \
0         The Love Expert         The Love Expert      0.0     1920.0
1               Yes or No               Yes or No      0.0     1920.0
2         Our Hospitality         Our Hospitality      0.0     1923.0
3       The King of Kings       The King of Kings      0.0     1927.0
4  I Cover the Waterfront  I Cover the Waterfront      0.0     1933.0

   endYear  runtimeMinutes                   genres  averageRating  numVotes  \
0      NaN            60.0           Comedy,Romance            4.9     136.0
1      NaN            72.0                      NaN            6.3       7.0
2      NaN            65.0  Comedy,Romance,Thriller            7.8    9621.0
3      NaN           155.0  Biography,Drama,History            7.3    1826.0
4      NaN            80.0            Drama,Romance            6.3     455.0

                    director_name  \
0                  David Kirkland
1               Roy William Neill
2  Buster Keaton,John G. Blystone
3                Cecil B. DeMille
4                     James Cruze

                                       writer_name
0                          John Emerson,Anita Loos
1     Arthur F. Goodrich,Burns Mantle,Mary Murillo
2  Jean C. Havez,Clyde Bruckman,Joseph A. Mitchell
3                                Jeanie Macpherson
4                 Max Miller,Wells Root,Jack Jevne

In [ ]:
#Melakukan drop terhadap kolom knownForTitles
base_drop = base_df.drop(['knownForTitles'], axis=1)
print(base_drop.info())

#Mengganti nilai NULL pada kolom genres dengan 'Unknown'
base_drop['genres'] = base_drop['genres'].fillna('Unknown')

#Melakukan perhitungan jumlah nilai NULL pada tiap kolom
print(base_drop.isnull().sum())

#Mengganti nilai NULL pada kolom dorector_name dan writer_name dengan 'Unknown'
base_drop[['director_name','writer_name']] = base_drop[['director_name','writer_name']].fillna('unknown')

#karena value kolom genres terdapat multiple values, jadi kita akan bungkus menjadi list of list
base_drop['genres'] = base_drop['genres'].apply(lambda x: x.split(','))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 986 entries, 0 to 985
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cast_name       986 non-null    object
 1   tconst          986 non-null    object
 2   titleType       986 non-null    object
 3   primaryTitle    986 non-null    object
 4   originalTitle   986 non-null    object
 5   isAdult         986 non-null    float64
 6   startYear       986 non-null    float64
 7   endYear         100 non-null    float64
 8   runtimeMinutes  986 non-null    float64
 9   genres          710 non-null    object
 10  averageRating   986 non-null    float64
 11  numVotes        986 non-null    float64
 12  director_name   986 non-null    object
 13  writer_name     986 non-null    object
dtypes: float64(6), object(8)
memory usage: 115.5+ KB
None
cast_name           0
tconst              0
titleType           0
primaryTitle        0
originalTitle       0
isAdult             0
startYear           0
endYear           886
runtimeMinutes      0
genres              0
averageRating       0
numVotes            0
director_name       0
writer_name         0
dtype: int64

In [ ]:
#Drop kolom tconst, isAdult, endYear, originalTitle
base_drop2 = base_drop.drop(['tconst','isAdult','endYear','originalTitle'], axis=1)

base_drop2 = base_drop2[['primaryTitle','titleType','startYear','runtimeMinutes','genres','averageRating','numVotes','cast_name','director_name','writer_name']]

# Gunakan petunjuk!
base_drop2.columns = ['title','type','start','duration','genres','rating','votes','cast_name','director_name','writer_name']
print(base_drop2.head())

                    title   type   start  duration  \
0         The Love Expert  movie  1920.0      60.0
1               Yes or No  movie  1920.0      72.0
2         Our Hospitality  movie  1923.0      65.0
3       The King of Kings  movie  1927.0     155.0
4  I Cover the Waterfront  movie  1933.0      80.0

                        genres  rating   votes           cast_name  \
0            [Comedy, Romance]     4.9   136.0  [Natalie Talmadge]
1                    [Unknown]     6.3     7.0  [Natalie Talmadge]
2  [Comedy, Romance, Thriller]     7.8  9621.0  [Natalie Talmadge]
3  [Biography, Drama, History]     7.3  1826.0     [Reeka Roberts]
4             [Drama, Romance]     6.3   455.0     [James Hackett]

                    director_name  \
0                  David Kirkland
1               Roy William Neill
2  Buster Keaton,John G. Blystone
3                Cecil B. DeMille
4                     James Cruze

                                       writer_name
0                          John Emerson,Anita Loos
1     Arthur F. Goodrich,Burns Mantle,Mary Murillo
2  Jean C. Havez,Clyde Bruckman,Joseph A. Mitchell
3                                Jeanie Macpherson
4                 Max Miller,Wells Root,Jack Jevne

In [ ]:
#Klasifikasi berdasar title, cast_name, genres, director_name, dan writer_name
feature_df = base_drop2[['title','cast_name','genres','director_name','writer_name']]

#Tampilkan 5 baris teratas
print(feature_df.head())

                    title           cast_name                       genres  \
0         The Love Expert  [Natalie Talmadge]            [Comedy, Romance]
1               Yes or No  [Natalie Talmadge]                    [Unknown]
2         Our Hospitality  [Natalie Talmadge]  [Comedy, Romance, Thriller]
3       The King of Kings     [Reeka Roberts]  [Biography, Drama, History]
4  I Cover the Waterfront     [James Hackett]             [Drama, Romance]

                    director_name  \
0                  David Kirkland
1               Roy William Neill
2  Buster Keaton,John G. Blystone
3                Cecil B. DeMille
4                     James Cruze

                                       writer_name
0                          John Emerson,Anita Loos
1     Arthur F. Goodrich,Burns Mantle,Mary Murillo
2  Jean C. Havez,Clyde Bruckman,Joseph A. Mitchell
3                                Jeanie Macpherson
4                 Max Miller,Wells Root,Jack Jevne

In [ ]:
def sanitize(x):
    try:
        #kalau cell berisi list
        if isinstance(x, list):
            return [i.replace(' ','').lower() for i in x]
        #kalau cell berisi string
        else:
            return [x.replace(' ','').lower()]
    except:
        print(x)

#Kolom : cast_name, genres, writer_name, director_name
feature_cols = ['cast_name','genres','writer_name','director_name']

#Apply function sanitize
for col in feature_cols:
    feature_df[col] = feature_df[col].apply(sanitize)

<ipython-input-12-f941f285a2a5>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feature_df[col] = feature_df[col].apply(sanitize)

In [ ]:
#kolom yang digunakan : cast_name, genres, director_name, writer_name
def soup_feature(x):
    return ' '.join(x['cast_name']) + ' ' + ' '.join(x['genres']) + ' ' + ' '.join(x['director_name']) + ' ' + ' '.join(x['writer_name'])

#membuat soup menjadi 1 kolom
feature_df['soup'] = feature_df.apply(soup_feature, axis=1)

<ipython-input-13-7a83a3d41899>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feature_df['soup'] = feature_df.apply(soup_feature, axis=1)

In [ ]:
#import CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer

#definisikan CountVectorizer dan mengubah soup tadi menjadi bentuk vector
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(feature_df['soup'])

print(count)
print(count_matrix.shape)

CountVectorizer(stop_words='english')
(986, 9985)

In [ ]:
#Import cosine_similarity
from sklearn.metrics.pairwise import cosine_similarity

#Gunakan cosine_similarity antara count_matrix
cosine_sim = cosine_similarity(count_matrix, count_matrix)

#print hasilnya
print(cosine_sim)

[[1.         0.15430335 0.35355339 ... 0.         0.         0.13608276]
 [0.15430335 1.         0.10910895 ... 0.         0.         0.        ]
 [0.35355339 0.10910895 1.         ... 0.         0.08703883 0.09622504]
 ...
 [0.         0.         0.         ... 1.         0.         0.        ]
 [0.         0.         0.08703883 ... 0.         1.         0.10050378]
 [0.13608276 0.         0.09622504 ... 0.         0.10050378 1.        ]]

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(count_matrix, count_matrix)

indices = pd.Series(feature_df.index, index=feature_df['title']).drop_duplicates()
print(indices[indices])

title
The Love Expert             0
Yes or No                   1
Our Hospitality             2
The King of Kings           3
I Cover the Waterfront      4
                         ...
Die verlorene Tochter     981
Bozkir                    982
Blue Story                983
Typewriter                984
Koko-di Koko-da           985
Length: 986, dtype: int64

In [ ]:
idx = indices['The Lion King']
sim_scores = list(enumerate(cosine_sim[idx]))
print(sim_scores[2:12])

[(2, 0.0), (3, 0.1259881576697424), (4, 0.1259881576697424), (5, 0.1111111111111111), (6, 0.1111111111111111), (7, 0.0), (8, 0.1259881576697424), (9, 0.2519763153394848), (10, 0.1259881576697424), (11, 0.0)]

In [ ]:
def content_recommender(title):
    #mendapatkan index dari judul film (title) yang disebutkan
    idx = indices[title]

    #menjadikan list dari array similarity cosine sim
    #hint: cosine_sim[idx]
    sim_scores = list(enumerate(cosine_sim[idx]))

    #mengurutkan film dari similarity tertinggi ke terendah
    sim_scores = sorted(sim_scores,key=lambda x: x[1],reverse=True)

    #untuk mendapatkan list judul dari item kedua sampe ke 11
    sim_scores = sim_scores[1:11]

    #mendapatkan index dari judul-judul yang muncul di sim_scores
    movie_indices = [i[0] for i in sim_scores]

    #dengan menggunakan iloc, kita bisa panggil balik berdasarkan index dari movie_indices
    return base_df.iloc[movie_indices]

#aplikasikan function di atas
print(content_recommender('The Lion King'))

    knownForTitles                   cast_name      tconst titleType  \
805      tt3040964  [Cristina Carrión Márquez]   tt3040964     movie
375      tt0286336          [Francisco Bretas]   tt0286336  tvSeries
942      tt7222086          [Hiroki Matsukawa]   tt7222086  tvSeries
73       tt0075147             [Joaquín Parra]   tt0075147     movie
230      tt0119051            [Chris Kosloski]   tt0119051     movie
536     tt10068158          [Hiroki Matsukawa]  tt10068158     movie
9        tt0028657            [Bernard Loftus]   tt0028657     movie
191      tt0107875               [Simon Mayal]   tt0107875     movie
763      tt2356464               [Sina Müller]   tt2356464     movie
925      tt6270328                   [Jo Boag]   tt6270328  tvSeries

                                        primaryTitle  \
805                                  The Jungle Book
375                     The Animals of Farthing Wood
942                                    Made in Abyss
73                                  Robin and Marian
230                                         The Edge
536                    Made in Abyss: Journey's Dawn
9                              Boss of Lonely Valley
191                      The Princess and the Goblin
763                                          Ostwind
925  The Skinner Boys: Guardians of the Lost Secrets

                                       originalTitle  isAdult  startYear  \
805                                  The Jungle Book      0.0     2016.0
375                     The Animals of Farthing Wood      0.0     1993.0
942                                    Made in Abyss      0.0     2017.0
73                                  Robin and Marian      0.0     1976.0
230                                         The Edge      0.0     1997.0
536                Made in Abyss: Tabidachi no Yoake      0.0     2019.0
9                              Boss of Lonely Valley      0.0     1937.0
191                      The Princess and the Goblin      0.0     1991.0
763                                          Ostwind      0.0     2013.0
925  The Skinner Boys: Guardians of the Lost Secrets      0.0     2014.0

     endYear  runtimeMinutes                       genres  averageRating  \
805      NaN           106.0       Adventure,Drama,Family            7.4
375   1995.0            25.0    Adventure,Animation,Drama            8.3
942      NaN           325.0    Adventure,Animation,Drama            8.4
73       NaN           106.0      Adventure,Drama,Romance            6.5
230      NaN           117.0       Action,Adventure,Drama            6.9
536      NaN           139.0  Adventure,Animation,Fantasy            7.4
9        NaN            60.0       Action,Adventure,Drama            6.2
191      NaN            82.0   Adventure,Animation,Comedy            6.8
763      NaN           101.0       Adventure,Drama,Family            6.8
925      NaN            23.0    Adventure,Animation,Drama            7.8

     numVotes                                      director_name  \
805  250994.0                                        Jon Favreau
375    3057.0                Elphin Lloyd-Jones,Philippe Leclerc
942    4577.0  Masayuki Kojima,Hitoshi Haga,Shinya Iino,Toshi...
73    10830.0                                     Richard Lester
230   65673.0                                       Lee Tamahori
536      81.0                                    Masayuki Kojima
9        41.0                                         Ray Taylor
191    2350.0                                       József Gémes
763    1350.0                                  Katja von Garnier
925      12.0            Pablo De La Torre,Eugene Linkov,Jo Boag

                                           writer_name
805                       Justin Marks,Rudyard Kipling
375  Valerie Georgeson,Colin Dann,Jenny McDade,Stev...
942    Akihito Tsukushi,Keigo Koyanagi,Hideyuki Kurata
73                                       James Goldman
230                                        David Mamet
536                                   Akihito Tsukushi
9                         Frances Guihan,Forrest Brown
191                       Robin Lyons,George MacDonald
763            Kristina Magdalena Henn,Lea Schmidbauer
925  David Witt,John Derevlany,David Evans,Peter Sc...